// Your footer style

.footer {
  background-color: black;
  padding: 50px 0;
  /* code your footer design here */
  a{
  color: lightgrey;
  font-size: 20px;
  letter-spacing: 15px;
  padding-left: 20px;
}
  &a:hover{
  color: white;
}
  p{
  color:lightgrey;
  padding-left: 20px;
  font-size: 12px;
}
}
