<div class= "contact">
<h1> L'EQUIPE</h1>


<ul class= "list-inline text-center">
  <li>
  <%= image_tag "http://placehold.it/200x200", class: "img-circle" %>
  <h2>Tatiana</h2>
  </li>

  <li>
  <%= image_tag "http://placehold.it/200x200", class: "img-circle" %>
  <h2>Karine</h2>
  </li>

  <li>
  <%= image_tag "http://placehold.it/200x200", class: "img-circle" %>
  <h2>John</h2>
  </li>
</ul>

</div>

